*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
/*Стили для демонстрации*/

.wrapper {
}

.block {
  padding: 50px;
  max-width: 1170px;
  margin: 0px auto;
}
.block_item {
  margin: 0px 0px 30px 0px;
}
.square {
  width: 150px;
  height: 150px;
  background-color: green;
}
.rectange {
  width: 300px;
  height: 150px;
  background-color: green;
}
.circle {
  width: 150px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
}
.oval {
  width: 300px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green;
}
.triangle-up:hover {
  border-bottom: 100px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid green;
}
.triangle-left {
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-right: 100px solid green;
  border-top: 50px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 100px solid green;
  border-top: 50px solid transparent;
}
.parallelogram {
  width: 200px;
  height: 100px;
  background-color: green;
  transform: skew(20deg);
}
.trapezoid {
  width: 200px;
  border-bottom: 100px solid green;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
